@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


body{
    background-color: rgb(214, 214, 214);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: rgb(212, 212, 212);
    width: 300px;
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;box-shadow: 5px 5px 10px #b6a9a9, 
    -5px -5px 10px #ffffff;   
    position: relative; 
}

.visor{
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
    border: none;
    height: 70px;
    width: 250px;    
    margin-top: 35px;
    margin-bottom: 35px;
    box-shadow: inset 2px 2px 5px #babecc, 
    inset -5px -5px 10px #ffffff;
    
    padding-left: 8px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif 
}


.teclas{
    background-color: rgb(214, 214, 214);
    width: 90%;
    height: 270px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 17px;
}

.elementos{
    margin: 0px 20px 0px 0px;
    width: 47px;
    height: 47px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 100%;
    font-family: 'Oswald', sans-serif;
    
    box-shadow: 5px 5px 10px #b6acac, 
        -5px -5px 10px #faf4f4;
    box-sizing:  border-box;    
}

.elementos.num{
    background-color: rgb(214, 214, 214);
}

.elementos.operador{
    background-color: black;
    color: rgb(214, 214, 214);
}

.elementos:active {
    box-shadow: inset 1px 1px 2px #babecc, 
        inset -1px -1px 2px #fff;
}

.operacoes{
    background-color: black;
    color: rgb(214, 214, 214);
}

.tecla-limpar{
    background-color: red;
    color: rgb(214, 214, 214);;
}

.result{
    position: absolute;
    top: 58px;
    left: 23px;
    width: 250px;
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    font-weight: bold;
}