body{
    background-color: rgb(214, 214, 214);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: rgb(212, 212, 212);
    width: 300px;
    height: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;box-shadow: 5px 5px 10px #b6a9a9, 
    -5px -5px 10px #ffffff;    
}

.visor{
    background-color: rgb(214, 214, 214);
    border-radius: 10px;
    height: 50px;
    width: 250px;    
    margin-top: 35px;
    margin-bottom: 35px;
    box-shadow: inset 2px 2px 5px #babecc, 
    inset -5px -5px 10px #ffffff;
}

.teclas{
    background-color: rgb(214, 214, 214);
    width: 90%;
    height: 270px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 17px;
}

.elementos{
    margin: 0px 20px 0px 0px;
    width: 47px;
    height: 47px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 100%;
    background-color: rgb(214, 214, 214);
    
    box-shadow: 5px 5px 10px #b6acac, 
        -5px -5px 10px #faf4f4;
    box-sizing:  border-box;    
}

.elementos:active {
    box-shadow: inset 1px 1px 2px #babecc, 
        inset -1px -1px 2px #fff;
  }

.operacoes{
    background-color: black;
    color: rgb(214, 214, 214);
}

.tecla-limpar{
    background-color: red;
    color: rgb(214, 214, 214);;
}